{% extends "base.html" %}
{% block content %}
  <h2>Drivers list</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Username</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">License number</th>
    </tr>
    </thead>
    <tbody>
    {% for driver in driver_list %}
      <tr>
        <th scope="row">{{ driver.id }}</th>
        <td><a href={{ driver.get_absolute_url }}>{{ driver.username }}</a></td>
        <td>{{ driver.first_name }}</td>
        <td>{{ driver.last_name }}</td>
        <td>{{ driver.license_number }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
